
// The outer structure for individual wineItem cards

.WineItemContainer {

    &-row{
        display: flex;
    }

    &-column {
        overflow-x: scroll;
        display: flex;
        flex-direction: column;
    }

    &-extra {
        display: none;
    }

}