@media screen and (min-width: 750px) {

    .Header {
        
        &-HamburgerTitle {


            &__search {
                display: flex;
            }
        }


        &-Icons {

            &__search {
                display: none;
            }

            &-span1 {
                display: flex;
            }

            &-span2 {
                display: flex;
            }
        }
    }
}



@media screen and (max-width: 750px) {
    .Header {
        
        &-HamburgerTitle {
    
    
            &__hamburger {
                display: flex;
            }
            
        }
    }
}
