@media screen and (min-width: 750px) {

    .WineItemContainer {
       

    &-row {
        flex-direction: row;
        justify-content: space-around;
        
    }

    &-column {
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    &-extra {
        display: flex;
    }



    }   

    .Button {
        display: none;
    }
}

