

//First footer (footers seperated by bacckground-color)

.Footer {
    display: flex;
    flex-direction: column;
    background-color: #F7F3F0;

    //Bold title above list

    &-title {
        font-size: 24px;
        font-weight: 900;
        text-align: center;
        width: 95%;
        margin-left: 24px;
    }

    //List of images and text 
    &-div1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        //Individual image and text pair
        &-container {
            display: flex;
            align-items: center;
            text-align: left;
            margin-left: 20px;
            flex-basis: 256px;

            &-img {
                margin-right: 15px;
            }

            &-text {
                //text
            }
        }
    }
}


