
//Second footer, making up everything on the very bottom of the page

.Footer2 {
    background-color: #EAE0DA;
    display: flex;
    flex-direction: column;
    //justify-content: space-around;
    padding-top: 20px;

    &-div1 {
        display: flex;
        justify-content: space-around;
        width: 100%;

        &-img {
            height: 30px;
            width: 30px;
        }

        &-nav1{
            display: flex;
            flex-direction: column;
            text-align: left;

        }

        &-nav2{
            display: flex;
            flex-direction: column;
            text-align: left;

          
        }

        a {
            font-size: 12px;
            font-weight: 900;
            margin-bottom: 16px;
        }    
        
    }

    &-div2 {
        
        &-payments {
            display: none;
        }
    }


    &-apps {
        margin-top: 50px;
        display: flex;
        justify-content: space-around;

        &-apple{

            &-button {
                width: 120px;
            }
        }

        &-google{

            &-button {
                width: 130px;
            }
        }
    }
    
    &-icons {
        margin-top: 25px;
        margin-bottom: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &-imgs {
            display: flex;
            margin-left: 10px;

            &-img{
                margin-left: 10px;
            }
        }

        &-trademark {
            margin-right: 20px;

            &-text {
               font-size: 10px;
               font-weight: 300;
               text-align: right;
            }
        }
    }
}