.Payments {
    margin-top: 25px;

    &-div1{
        //
    }

    &-div2{
        //
    }

    &-footnote {
        font-size: 12px;
        font-weight: 300;
        text-align: center;
        color: rgb(30, 30, 30);
    }
}