
//Two advertisements, blue and red

.Advertisements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    //Blue Advertisment
    &-Div1 {
        margin: 20px;
        background-color: #DBF3FD;
        display: flex;
        height: 200px;


        //Blue Advertisment text
        &-span1{
            width: 90%;

            &-paragraph {
                color: rgb(0, 122, 196);
                font-size: 12px;
                font-weight: 900;
                line-height: normal;
                margin-left: 2px;
            }


            &-title {
                color: rgb(29, 65, 166);
                font-size: 30px;
            }

            

        }

        //Blue Advertisment logo and button
        &-span2 {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;

            &-button {
                font-size: 15px;
                font-weight: 400;
                background-color: #ba1628;
                border-color: #ba1628;
                color: white;
                border-radius: 80px;
                border: 1px;
                height: 40px;
                width: 100px;
                //max-width: 100%;
                align-self: flex-end;
                margin-right: 20px;
                margin-bottom: 15px;

                &:hover {
                    cursor: pointer;
                }
        
            }


            &-img {
                height: 85px;
                margin-bottom: 50px;
            }

        }

    }

    //Red Advertisment

    &-Div2 {
        display: flex;
        flex-direction: column;
        background-color: #F7F3F0;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;

        //Red Advertisment logo and top text
        &-span1 {
            display: flex;
            align-items: center;

            &-img {
                height: 20px;
                width: 20px;
                margin: 10px;
            }

            &-paragraph {
                color: rgb(186, 22, 40);
                font-size: 12px;
                font-weight: 900;
                text-align: left;
            }

        }

        //Red Advertisement bottom text and button
        &-span2 {
            display: flex;
            flex-direction: column;

            &-title {
                margin-top: 0;
                font-size: 40px;
                font-weight: 900;
                line-height: normal;
                color: rgb(186, 22, 40);
                text-align: left;
                margin-left: 12.5px;
            }

            &-button {
                font-size: 15px;
                font-weight: 400;
                background-color: #ba1628;
                border-color: #ba1628;
                color: white;
                border-radius: 80px;
                border: 1px;
                height: 40px;
                width: 100px;
                //max-width: 100%;
                align-self: flex-end;
                margin-right: 20px;
                margin-bottom: 15px;     
                
                &:hover {
                    cursor: pointer;
                }
        
             }
        }

    }
}